In [3]:
import sqlite3
import csv

In [36]:
def csv_to_sql(csv_input, sql_ouput):
    try:
        conn = sqlite3.connect(sql_ouput)
        cursor = conn.cursor()
        print("Opened database successfully")
    except Exception as e:
        print("Error during connection:", str(e))

    conn.execute('''CREATE TABLE VOLCANOS
             (volcano_name varchar(100),
             country varchar(100),
             volcano_type varchar(100),
             latitude_dd real,
             longitude_dd real,
             elevation int);''')
    print("Table created successfully")
    
    data_rows = []
    with open(csv_input) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter= ',')
        for row in csv_reader:
            data_rows.append(row)

    sqlite_insert_with_param = """INSERT or REPLACE INTO VOLCANOS
                      (volcano_name, country, volcano_type, latitude_dd, longitude_dd, elevation) 
                      VALUES (?, ?, ?, ?, ?, ?);"""
    for row in data_rows:
        if (len(row)>5):
            conn.execute(sqlite_insert_with_param ,(row))
    count = 0
    cursor.execute("SELECT volcano_name, country, volcano_type, latitude_dd, longitude_dd, elevation from VOLCANOS")
    conn.commit()
    print("Records created successfully")
    conn.close()

In [43]:
def sql_to_csv(sql_input, csv_output):
    try:
        conn = sqlite3.connect(sql_input)
        cursor = conn.cursor()
        print("Opened database successfully")
    except Exception as e:
        print("Error during connection:", str(e))
        
    #get the column names:
    cursor.execute("SELECT * from fault_lines")
    column_names = [names[0] for names in cursor.description]


    # creating a csv file:
    with open(csv_output, 'w') as csv_file:
        csv_writer = csv.writer(csv_file)
        csv_writer.writerow(column_names)
        for each in cursor:
            csv_writer.writerow(each)
         
    conn.close()

In [44]:
sql_to_csv("all_fault_line.db","test.csv")

Opened database successfully